@import url('https://fonts.googleapis.com/css2?family=Corben:wght@400;700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: sans-serif;
        font-weight: 400;
        font-style: normal;
        background-color: #1E1E1D;
        color: white;
    }
    body{
        padding-left: 2rem;
        padding-right: 2rem;
    }

    body::-webkit-scrollbar {
        width: 0;
    }

}
header ul li{
    opacity: .8;
    line-height: normal;
}
header ul li:hover{
    /* bottom: -35%; */
    opacity: 1;
}

